{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EVCharge - Home</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo"><a href="">⚡ EVCharge</a></div>
            <ul class="nav-links">
                <li><a href="">Home</a></li>                
                <li><a href="">How It Works</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="{% url 'login' %}" class="signup-btn">Login</a></li>
                <li><a href="{% url 'signup' %}" class="signup-btn">Sign Up</a></li>
                
            </ul>
        </div>
    </nav>

    <header class="hero-section">
        <div class="hero-content">
            <h1>Power Your Journey</h1>
            <p>Find, book, and manage EV charging stations in one place.</p>
            <a href="" class="hero-btn">Find a Station</a>
        </div>
    </header>
    
    <div class="last">
        hello
    </div>

</body>
</html>